.button {
position: absolute;
width: 185px;
height: 51px;

top: 50%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%);

background: linear-gradient(108.62deg, #5D5FEF 20.49%, #7879F1 46.52%, #A5A6F6 78.55%, #A5A6F6 78.55%);
border-radius: 25.5px; 
}

.text{
position: absolute;
width: 85px;
height: 29px;

font-family: 'Sen';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
color: #000000;
z-index: 1;

top: 50%;
left: 51%;
margin-right: -50%;
transform: translate(-50%, -50%);
}
