* {margin: 0;
   padding:0;
   list-style-type: none;
   box-sizing: border-box; 

}
.conteiner {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.first {
    float:left;
    width: 100px;
    height:100px;
    background-color:#da2032;
    
    clear:both;
    display: flex;
}

.second {
    width: 100px;
    height:100px;
    background-color:#0066b3;
    
    clear:none;
    display: flex;

}

.third {
    float:none;
    width: 100px;
    height:100px;
    background-color:#da2032;
   
    clear:both;
    display: flex;
}
