
 .conteiner {
    position: absolute;
    display: flex;
    width: 380px;
    height: 200px;
    justify-content:center;
    flex-direction: column;
    left: 40%;
    top: 35%;
    background-color: #ffffff;
    z-index: 5;
    
 }
 


.one {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 10px;
    margin-left: 10px;
    margin-right: 10px;
    z-index: 1;
}

.q, .w, .e, .r, .t, .y, .a, .s, .d, .f, .g, .h, .z, .x, .c, .v, .b { 
    position: relative;
    width: 40px;
    height: 40px; 
    justify-content: space-between;
    border-radius: 3px;
    clear:both;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
} 

.q {
    background: #333333;
}

.w {
    background: #4F4F4F;
}

.e {

    background: #828282;
    }

.r {
    background:#BDBDBD;
    }

.t {
    background: #E0E0E0;
}
.y {
    background: #F2F2F2;
}

.a {
    background: #EB5757;
}

.s {

    background: #F2994A;

    }    

.d {
    background: #F2C94C;
    }   

.f {
 background: #219653;
    }   
.g {
    background: #27AE60;
    }    
.h {
    background: #6FCF97;
    }  

.z {
    background: #2F80ED;
    }      

.x {
    background: #2D9CDB;
    }  

.c {
    background: #56CCF2;
    }  

.v {
    background: #9B51E0;
    }  

.b {
    background: #BB6BD9;
    }  


