.BackgroundImage{
    background-image: url(./assets/img/content-img1.png);
    position: absolute;
	border: none;
    margin-top: 10px;
    width: 1310px;
    height: 835px;
    margin-left: 0px;
    background-size: 1310px 835px;
}

.greedy {
    position: relative;
    margin-top: 15px;
    display: grid;
    padding: 10px;
    grid-gap: 10px;
    grid-row-gap: 201px;
    grid-template-rows: repeat(2, 300px);
    grid-template-columns: repeat(5, 250px);
    z-index: 100000;
    grid-template-areas: "top" "bottom";
}

/* Cherepaxi */
    .leo, .raf, .mike, .donny, .all {
        background-size: 100%;
    }

    .leo {
        grid-area: 1 / 1 / span 1 / span 1;
        background-image: url(./assets/img/one1.png);
        z-index: 1000;
        outline: 2px solid rgb(0, 4, 255);

    }    
    
    .raf {
        grid-area: 1 / 2 / span 1 / span 1;
        z-index: 1000;
        background-image: url("./assets/img/raf2.gif");
        background-size: 250px 300px;
        outline: 2px solid rgb(255, 0, 0);
    }
    .mike {
        background-image: url(./assets/img/3.png);
        grid-area: 2 / 1 / span 1 / span 5;
        z-index: 1000;
        overflow: hidden;
        outline: 2px solid rgb(255, 123, 0);
        background-size: 1290px 300px;
    }
    .donny {
        grid-area: 1 / 3 / span 1 / span 1;
        background-image: url(./assets/img/Donatello.png);
        z-index: 1000;
        background-size: 250px 300px;
        outline: 2px solid rgb(125, 0, 200);
    }
    .all {
        grid-area: 1 / 4 / span 1 / span 2;
        background-image: url(./assets/img/four360.gif);
        z-index: 1000;
        outline: 2px solid rgb(51, 255, 0);
        background-size: 500px 300px;
    }
    .redline {
        position: absolute;
        margin-top: 10px;
        background-image: linear-gradient( rgb(0, 255, 76) 25% , rgb(42, 9, 95));
        width: 1310px;
        height: 5px;
        z-index: 100000;
        box-shadow: 0 0 40px rgba(0, 0, 0, .2) inset;
    }
    


body{

	background: grey url(images/body-bg.jpg) top repeat-x; font:12px Arial; color:#555; line-height:1.3;
}
a{
	color:#CDCDCD;
font-family: Arial;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
text-shadow: 1px 1px 2px black, 0 0 1em red;


}
a:hover{
	text-decoration: none;

}
.vse{
	width: 1310px; 
    margin:1vh auto;
    height: 920px;
    background-color: aqua;
    padding: 10px;
}

header{
    position: absolute;
    margin: 0px auto;
	width: 1310px;
	height: 90px;
    z-index: 10000;
    background: linear-gradient(rgb(0, 0, 0) 20%, rgb(51, 255, 0));
}

.right_header {
    position: relative;
    margin-left: 620px;
    margin-top: 0px;
	width: 900px;
	height: 60px;
    z-index: 100; 

}

.menu{
    position: absolute;
    margin-top: 5px;
    margin-right: 0px;
height: 27px;
max-width: 600px;
border-radius: 0px;
justify-content: right;
display: flex;






    
}
.menu li{
    position: relative;
    left: 5px;
	float:left;
    padding-left: 40px;
    list-style-type: none;
    text-align: center;

}

.menu li a{
	color:none; text-decoration:none;
    word-wrap: break-word;
}
.menu li a:hover{
	text-decoration:underline; color:#9dc5f0;
}

.main-content{
	width: 1280px;
	height: 908px;
	overflow:hidden;
}

.main-content-img{
	margin-bottom:20px;
    object-fit: cover;
	
}


.footer{
	padding:15px 0 20px 30px; color:#a1a0a7;
}


a.renes{
    color: #F1CDB3;
    
}

.renes {
position:absolute;
height: 50px;
max-width: 50px;
left: 40px;
top: 10px;

text-shadow: 1px 1px 2px black, 0 0 1em red;

font-family: 'Times New Roman', Times, serif;
font-size: 32px;
font-weight: 400;
line-height: 25px;
letter-spacing: 1px;
text-align: left;
color: #F1CDB3;
text-decoration: none;
text-indent: 34px;

}

.vk {
    position: relative;
    top: 65px;
    height: 15px;
    width: 189px;
    margin-left: 45px;
    margin-top: 45px;
    border-radius: nullpx;
    min-width: 189px;

font-family: Arial;
font-size: 14px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0.1em;
text-align: left;
text-decoration: none;

text-shadow: 1px 1px 2px black, 0 0 1em red;

}


a.ats {
    color:#FAFAFA;

font-family: Arial;
font-size: 15px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: left;

}
a.sfpib {
    color:#FAFAFA;

}



footer {
    position: absolute;
    margin-top: 950px;
}

.button1 {
    width: 0%;
    height: 0%;
    overflow: hidden;
}


@media screen and (max-width: 1000px) {
    
    html {
        overflow: hidden;
    }

    .BackgroundImage{
        background-image: url(./assets/img/content-img1.png);
        position: absolute;
        margin: 65px auto;
        width: 1260px;
        height: 1920px;
        background-size: 1240px 1920px;
    
    }
    
    .greedy {
        position:absolute;
        margin: 100px 80px;
        display: grid;
        grid-gap: 60px;
        grid-template-rows: repeat(4, 500px);
        grid-template-columns: repeat(2, 500px);
        z-index: 100000;
        grid-template-areas: "top" "bottom";
    }
    
    /* Cherepaxi */
        .leo, .raf, .mike, .donny, .all {
            object-fit: cover;
            background-size: 500px 500px;
        }
    
        .leo {
            grid-area: 1 / 1 / span 1 / span 1;
            background-image: url(./assets/img/remember2.png);
            z-index: 1000;
            outline: 2px solid rgb(0, 4, 255);
    
        }    
        
        .raf {
            grid-area: 1 / 2 / span 1 / span 1;
            z-index: 1000;
            background-image: url(./assets/img/дом-фландерс.gif);
            outline: 2px solid rgb(255, 0, 0);
        }
        .mike {
            background-image: url(./assets/img/3.png);
            grid-area: 3 / 1 / span 1 / span 2;
            z-index: 1000;
            overflow: hidden;
            outline: 2px solid rgb(255, 123, 0);
            background-size: 1100px 500px;
        }
        .donny {
            grid-area: 2 / 2 / span 1 / span 1;
            background-image: url(./assets/img/outplayed.gif);
            z-index: 1000;
            outline: 2px solid rgb(125, 0, 200);
        }
        .all {
            grid-area: 2 / 1 / span 1 / span 1;
            background-image: url(./assets/img/Four4.gif);
            z-index: 1000;
            outline: 2px solid rgb(51, 255, 0);
            background-size: 500px 500px;
            
        }
        .redline{
            width: 0%;
            height: 0%;
        }
    
    
    body{
    
        background: grey url(images/body-bg.jpg) top repeat-x; font:12px Arial; color:#555; line-height:1.3;
    }
    a{
        color:#CDCDCD;
    font-family: Arial;
    font-size: 32px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    text-shadow: 1px 1px 2px black, 0 0 1em red;
    
    
    }
    a:hover{
        text-decoration: none;
    
    }
    .vse{
        width: 1270px; 
        margin: 5px auto;
        height: 2070px;
        background-color: aqua;
        padding: 10px;
        overflow-y: 1000px;
    }
    
    header{
        position: absolute;
        margin: 0px auto;
        width: 1260px;
        height: 140px;
        z-index: 10000;
        background: linear-gradient(rgb(0, 0, 0) 20%, rgb(51, 255, 0));
    }
    
    .right_header {
        position: relative;
        margin-left: 540px;
        margin-top: 0px;
        width: 900px;
        height: 60px;
        z-index: 100; 
    
    }
    
    .menu{
        position: absolute;
        margin-top: 5px;
        margin-right: 0px;
    height: 27px;
    max-width: 600px;
    border-radius: 0px;
    justify-content: right;
    display: flex;
    
    
    
    
    
    
        
    }
    .menu li{
        position: relative;
        left: 5px;
        float:left;
        padding-left: 40px;
        list-style-type: none;
        text-align: center;
    
    }
    
    .menu li a{
        color:none; text-decoration:none;
        word-wrap: break-word;
    }
    .menu li a:hover{
        text-decoration:underline; color:#9dc5f0;
    }
    
    .main-content{
        width: 1280px;
        height: 908px;
        overflow:hidden;
    }
    
    .main-content-img{
        margin-bottom:20px;
        object-fit: cover;
        
    }
    
    
    .footer{
        padding:15px 0 20px 30px; color:#a1a0a7;
    }
    
    
    a.renes{
        color: #F1CDB3;
        
    }
    
    .renes {
    position:absolute;
    height: 50px;
    max-width: 50px;
    left: 40px;
    top: 10px;
    
    text-shadow: 1px 1px 2px black, 0 0 1em red;
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 64px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 2px;
    text-align: left;
    color: #F1CDB3;
    text-decoration: none;
    text-indent: 64px;
    
    }
    
    .vk {
        position: relative;
        top: 110px;
        height: 15px;
        width: 189px;
        margin-left: 30px;
        margin-top: 45px;
        border-radius: nullpx;
        min-width: 189px;
    
    font-family: Arial;
    font-size: 30px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-align: left;
    text-decoration: none;
    
    text-shadow: 1px 1px 2px black, 0 0 1em red;
    
    }
    
    
    a.ats {
        color:#FAFAFA;
    
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    
    }
    a.sfpib {
        color:#FAFAFA;
    
    }
    
    
    
    footer {
        position: absolute;
        margin-top: 950px;
    }


    .button1 {
        grid-area: 2 / 1 / span 1 / span 1;
        margin: auto;
        border: 3px solid #1f11e2;
        font-size: 30px;
        color: #00d9ff;
        text-decoration: none;
        width: 300px;
        height: 90px;
        display: block;
        text-align: center;
        line-height: 90px;
        font-family: 'Times New Roman', Times, serif;
        position: relative;
        transition: .5s;
        overflow: hidden;
        letter-spacing: 1px;
        z-index: 10000000;
        background: rgb(255, 0, 0);
       
       
        border-radius: 25.5px;
       
       }
       
       .button1::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(108.62deg, #d60808 20.49%, #7879F1 46.52%, #A5A6F6 78.55%, #A5A6F6 78.55%);;
        top: 0;
        left: -100%;
        opacity: .5;
        transition: .3s;
        z-index: -1;
       }
       .button1::after {
        opacity: 1;
        transition-delay: .2.8s;
       }
       .button1:hover {
        color: rgb(30, 255, 0);
        transform: translateY(-6px);
        box-shadow: 2px 7px 5px rgb(0, 0, 0);
       }
       .button1:hover::after {
        left: 0;
       }
       .button1:active {
        transform: translateY(-1px);
        box-shadow: 0 10px 40px rgb(0, 0, 0);
       }

}




